In [1]:
# {Key1:Value1, Key2:Value2, Key3:Value3, ...}
# 딕셔너리 Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다. 
# 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다.

dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
# key = name, phone, birth        value = pey , 0119993323 , 1118

a = {1 : 'hi'}
a = { 'a' : [1,2,3]}

In [2]:
# 딕셔너리 쌍 추가
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [3]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [4]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [5]:
# 딕셔너리 요소 삭제
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [6]:
# 딕셔너리에서 key 사용해 value 얻기
grade = {'pey' : 10, 'julliet' : 99}
grade['pey']

10

In [7]:
grade['julliet']
# 'pey'라는 Key의 Value를 얻기 위해 grade['pey']를 사용한 것처럼 
# 어떤 Key의 Value를 얻기 위해서는 딕셔너리변수이름[Key]를 사용한다.

99

In [8]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [9]:
a[2]

'b'

In [10]:
a = {'a':1, 'b':2}
a['a']

1

In [11]:
a['b']

2

In [12]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['name']

'pey'

In [13]:
dic['phone']

'0119993323'

In [14]:
dic['birth']

'1118'

In [15]:
a = {1:'a', 1:'b'}
a # 동일한 key가 있을 경우 하나 제외 모두 무시

{1: 'b'}

In [16]:
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

In [21]:
# key 리스트 만들기(keys)
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [22]:
for k in a.keys():
    print(k)

name
phone
birth

In [23]:
list(a.keys())

['name', 'phone', 'birth']

In [24]:
# value 리스트 만들기(values)
a.values()

dict_values(['pey', '0119993323', '1118'])

In [26]:
# key, value 쌍 얻기(items)
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [27]:
# key : value 쌍 모두 지우기(clear)
a.clear()
a

{}

In [28]:
# key로 value얻기(get)
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
a.get('name')

'pey'

In [29]:
a.get('phone')

'0119993323'

In [30]:
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
print(a.get('nokey'))

None

In [31]:
print(a['nokey'])

KeyError: 'nokey'

In [33]:
a.get('foo', 'bar') # key 값이 없을 경우 미리 정해 둔 디폴트 값 대신 가져오기

'bar'

In [34]:
# 해당 key가 딕셔너리 안에 있는지 조사(in)
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
'name' in a

True

In [35]:
'email' in a

False