In [4]:
국어 = 80
영어 = 75
수학 = 55

평균 = (국어 + 영어+ 수학) / 3
평균

70.0

In [5]:
13 % 2

1

In [10]:
홍길동 = "881120-1068234"
홍길동[:6]

'881120'

In [11]:
홍길동[7:]

'1068234'

In [9]:
pin = "881120-1068234"
pin[7:8]

'1'

In [14]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [16]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[1, 2, 3, 4, 5]

In [20]:
a = ['Life', 'is', 'too', 'short']
b = " ".join(a)
b

'Life is too short'

In [24]:
a = (1, 2, 3)
b = (4,)
a + b

(1, 2, 3, 4)

In [27]:
a = dict()
a
a[[1]] = 'python'
# 변하는 값이기 때문에

TypeError: unhashable type: 'list'

In [28]:
a = {'A':90, 'B':80, 'C':70} 
a.pop('B')

80

In [29]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
b

{1, 2, 3, 4, 5}

In [30]:
a = b = [1, 2, 3]
a[1] = 4
print(b) # b는 a기 때문

[1, 4, 3]