In [1]:
# 문자열에 작은따옴표 (') 포함시키기

food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [4]:
a = '"Python is very easy." he says.' # 작은따옴표 안에 사용한 큰따옴표는 문자열을 만드는 기호로 인식되지 않는다.
a

'"Python is very easy." he says.'

In [6]:
# 백슬래시(\)를 사용해서 작은따옴표와 큰따옴표 문자열에 포함시키기
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
food

'"Python is very easy." he says.'

In [7]:
say

'"Python is very easy." he says.'

In [11]:
# 줄바꿈을 할 때 \n을 삽입하는 방법이 있지만 읽기 불편하고 줄이 길어지는 단점이 있다.
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

In [13]:
# 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""") 사용하기
multiline = '''
Life is too short
You need Python
'''
multiline

'\nLife is too short\nYou need Python\n'

In [1]:
# 문자열 더해서 연결하기
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [2]:
# 문자열 곱하기
a = "python"
a * 2

'pythonpython'

In [3]:
# 문자열 길이 구하기. len 함수는 print 함수처럼 파이썬의 기본 내장 함수로 별다른 설정 없이 바로 사용할 수 있다.
a = "Life is too short"
len(a)

17

In [4]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
a[3]

'e'

In [7]:
a = "Life is too short, You need Python"
a [0]

'L'

In [8]:
a[12]

's'

In [9]:
a[-1]

'n'

In [10]:
a[-0]

'L'

In [11]:
a[-2]

'o'

In [12]:
a[-5]

'y'

In [13]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [14]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [15]:
a[0:3]

'Lif'

In [16]:
# 문자열 슬라이싱 +
a[0:5]

'Life '

In [17]:
a[0:2]

'Li'

In [18]:
a[5:7]

'is'

In [19]:
a[12:17]

'short'

In [20]:
a[19:] # 끝 번호 생략이면 시작 번호부터 그 문자열의 끝까지 출력

'You need Python'

In [21]:
a[:17] # 시작 번호 생략이면 문자열의 처음부터 끝 번호까지 출력

'Life is too short'

In [22]:
a[:] # 둘 다 생략시 처음부터 끝까지 출력

'Life is too short, You need Python'

In [23]:
a[19:-7]

'You need'

In [25]:
# 슬라이싱으로 문자열 나누기
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
date

'20010331'

In [26]:
weather

'Rainy'

In [28]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year

'2001'

In [29]:
day

'0331'

In [30]:
weather

'Rainy'

In [31]:
# 문자열 바꾸기
a = "Pithon"
a[:1]

'P'

In [32]:
a[2:]

'thon'

In [33]:
a[:1] + 'y' + a[2:]

'Python'

In [35]:
# 문자열 포매팅
# 숫자
"I eat %d apples." % 3

'I eat 3 apples.'

In [36]:
# 문자열 포매팅
# 문자 (굳이 문자를 넣지 않아도 됨 실수 정수 가능)
"I eat %s apples." % "five"

'I eat five apples.'

In [37]:
# 문자열 포매팅
# 변수
number = 3
"I eat %d apples" % number

'I eat 3 apples'

In [38]:
# 문자열 포매팅
# 2개 이상의 값

number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [39]:
# 정렬과 공백
"%10s" % "hi" # %10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.

'        hi'

In [40]:
"%-10sjane." % 'hi' # 왼쪽 정렬

'hi        jane.'

In [41]:
"%0.4f" % 3.42134234 # 소수점 4자리 까지 '.'은 소수점포인트 , 그 뒤의 숫자는 뒤에 나올 숫자 개수

'3.4213'

In [42]:
# format 함수 포매팅.  문자열의 format 함수를 사용하면 좀 더 발전된 스타일로 문자열 포맷 지정 가능
"I eat {0} apples".format(3) # 숫자

'I eat 3 apples'

In [44]:
"I eat {0} apples".format("five") # 문자열

'I eat five apples'

In [47]:
number = 3
"I eat {0} apples".format(number) # 변수

'I eat 3 apples'

In [48]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day) # 두 변수

'I ate 10 apples. so I was sick for three days.'

In [49]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=5) # 인덱스와 이름 혼용

'I ate 10 apples. so I was sick for 5 days.'

In [50]:
"{0:<10}".format("hi") # 왼쪽 정렬

'hi        '

In [51]:
"{0:>10}".format("hi") # 오른쪽 정렬

'        hi'

In [52]:
"{:^10}".format("hi") # 가운데 정렬

'    hi    '

In [53]:
"{0:=^10}".format('hi') # 공백 채우기1

'====hi===='

In [54]:
"{0:!<10}".format("hi") # 공백 채우기2

'hi!!!!!!!!'

In [55]:
y = 3.42134234
"{0:0.4f}".format(y) # 소수점 표현하기

'3.4213'

In [56]:
"{0:10.4f}".format(y) # 자리수 맞추기

'    3.4213'

In [57]:
"{{ and }}".format() # { 또는 } 문자 표현

'{ and }'

In [58]:
# f 문자열 포매팅
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [59]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [60]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [61]:
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [62]:
f'{"hi":>10}' # 오른쪽 정렬

'        hi'

In [63]:
f'{"hi":^10}' # 가운데 정렬

'    hi    '

In [64]:
f'{"hi":=^10}' # 공백채우기 1

'====hi===='

In [65]:
f'{"hi":!<10}' # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [66]:
y = 3.42134234
f'{y:0.4f}'    # 소수점 4자리까지 표현

'3.4213'

In [67]:
f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리 수를 10으로 맞춤

'    3.4213'

In [68]:
f'{{ and }}' # {} 쓰려면 동시 사용

'{ and }'

In [69]:
a = "hobby"
a.count('b')

2

In [70]:
a = "Python is the best choice"
a.find('b')

14

In [71]:
a.find('k')

-1

In [72]:
a = "Life is too short"
a.index('t')

8

In [73]:
a.index('k')

ValueError: substring not found

In [ ]:
# 문자열 삽입(join)
",".join('abcd')

In [74]:
",".join(['a','b','c','d'])  # join 함수는 문자열뿐만 아니라 앞으로 배울 리스트나 튜플도 입력으로 사용할 수 있다

'a,b,c,d'

In [75]:
# upper
a = "hi"
a.upper()

'HI'

In [76]:
# lower
a = "HI"
a.lower()

'hi'

In [77]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [78]:
# 오른쪽 공백 지우기
a.rstrip()

' hi'

In [79]:
# 양쪽 공백 지우기
a = " hi "
a.strip()

'hi'

In [80]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [81]:
# 문자열 나누기(split)
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [86]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']