In [1]:
#예제로 for문 이해
list = ['1','2','3']
for i in list:
    print(i)

1
2
3

In [2]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [9]:
#"총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 
# 합격인지 불합격인지 결과를 보여 주시오."

list = [90, 30, 40 ,100, 35]
number = 0
for human in list:
    number = number + 1
    if human >= 60:
        print("%d번 학생은 합격." % number)
    else:
        print("%d번 학생은 불합격." % number)

1번 학생은 합격.
2번 학생은 불합격.
3번 학생은 불합격.
4번 학생은 합격.
5번 학생은 불합격.

In [12]:
# for문과 continue
list = [90, 30, 40 ,100, 35]

number = 0
for human in list:
    number = number + 1
    if human < 60:
        continue
    print("%d번 학생은 합격." % number)

1번 학생은 합격.
4번 학생은 합격.

In [13]:
# for문과 함께 자주 사용하는 range 함수

a = range(10)
a

range(0, 10)

In [14]:
add = 0
for i in range(1, 11):
    add = add + i
    
print(add)

55

In [15]:
list = [90, 30, 40 ,100, 35]

for number in range(len(list)):
    if list[number] < 60:
        continue
    print("%d번 학생 합격." % (number + 1))

1번 학생 합격.
4번 학생 합격.

In [16]:
# 구구단
for i in range(2,10):
    for j in range(1, 10):
        print(i*j, end = " ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [17]:
# 리스트 내포 
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)
    

print(result)

[3, 6, 9, 12]

In [18]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [19]:
# 만약 [1,2,3,4] 중에서 짝수에만 3을 곱하여 담고 싶다면 다음과 같이 리스트 내포 안에 "if 조건"을 사용
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [20]:
# 구구단
result = [x*y for x in range(2,10)
            for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]