In [1]:
import pandas as pd
import numpy as np

In [3]:
exam_data = {'수학':[100, 90, 70, 30, 40], '영어': [50, 100, 90, 80, 70], '언어': [50, 90, 70, 18, 100], '사회': [88, 100, 58, 77,95], '기가': [50, 100, 90, 80, 60],}
df = pd.DataFrame(exam_data, index=['서현', '유미', '예린', '지수', '이진'])
print(df)

     수학   영어   언어   사회   기가
서현  100   50   50   88   50
유미   90  100   90  100  100
예린   70   90   70   58   90
지수   30   80   18   77   80
이진   40   70  100   95   60

In [4]:
df = df.transpose()
print(df)

     서현   유미  예린  지수   이진
수학  100   90  70  30   40
영어   50  100  90  80   70
언어   50   90  70  18  100
사회   88  100  58  77   95
기가   50  100  90  80   60

In [5]:
df = df.T
print(df)

     수학   영어   언어   사회   기가
서현  100   50   50   88   50
유미   90  100   90  100  100
예린   70   90   70   58   90
지수   30   80   18   77   80
이진   40   70  100   95   60

In [8]:
data = { '년/월' : ['2021/1','2021/2','2021/3','2021/4','2021/5','2021/6','2021/7','2021/8','2021/9',
                      '2021/10','2021/11','2021/12'],
    '매출(억)' : ['18.25','8.94','8.40','3.16','1.97','3.30','5.43','4.17','3.77','2.37','3.47','1.95'] ,
}
df = pd.DataFrame(data, index=['1','2','3','4','5','6','7','8','9','10','11','12'])
print(df)

        년/월  매출(억)
1    2021/1  18.25
2    2021/2   8.94
3    2021/3   8.40
4    2021/4   3.16
5    2021/5   1.97
6    2021/6   3.30
7    2021/7   5.43
8    2021/8   4.17
9    2021/9   3.77
10  2021/10   2.37
11  2021/11   3.47
12  2021/12   1.95

In [11]:
new_index = ['1','2','3','4','5','6','7','8','9','10','11','12','13']
new_df = df.reindex(new_index)
print(new_df)

        년/월  매출(억)
1    2021/1  18.25
2    2021/2   8.94
3    2021/3   8.40
4    2021/4   3.16
5    2021/5   1.97
6    2021/6   3.30
7    2021/7   5.43
8    2021/8   4.17
9    2021/9   3.77
10  2021/10   2.37
11  2021/11   3.47
12  2021/12   1.95
13      NaN    NaN

In [19]:
new_index = ['1','2','3','4','5','6','7','8','9','10','11','12','13']
new2_df = df.reindex(new_index, fill_value = 0)
print(new2_df)

        년/월  매출(억)
1    2021/1  18.25
2    2021/2   8.94
3    2021/3   8.40
4    2021/4   3.16
5    2021/5   1.97
6    2021/6   3.30
7    2021/7   5.43
8    2021/8   4.17
9    2021/9   3.77
10  2021/10   2.37
11  2021/11   3.47
12  2021/12   1.95
13        0      0

In [20]:
data = { '년/월' : ['2021/1','2021/2','2021/3','2021/4','2021/5','2021/6','2021/7','2021/8','2021/9',
                      '2021/10','2021/11','2021/12'],
    '매출(억)' : ['18.25','8.94','8.40','3.16','1.97','3.30','5.43','4.17','3.77','2.37','3.47','1.95'] ,
}
df = pd.DataFrame(data, index=['1','2','3','4','5','6','7','8','9','10','11','12'])
print(df)

        년/월  매출(억)
1    2021/1  18.25
2    2021/2   8.94
3    2021/3   8.40
4    2021/4   3.16
5    2021/5   1.97
6    2021/6   3.30
7    2021/7   5.43
8    2021/8   4.17
9    2021/9   3.77
10  2021/10   2.37
11  2021/11   3.47
12  2021/12   1.95

In [21]:
new_df = df.reset_index()
print(new_df)

   index      년/월  매출(억)
0      1   2021/1  18.25
1      2   2021/2   8.94
2      3   2021/3   8.40
3      4   2021/4   3.16
4      5   2021/5   1.97
5      6   2021/6   3.30
6      7   2021/7   5.43
7      8   2021/8   4.17
8      9   2021/9   3.77
9     10  2021/10   2.37
10    11  2021/11   3.47
11    12  2021/12   1.95

In [22]:
data = pd.Series(range(4), index=['d','c','b','a'])
data.sort_index()

a    3
b    2
c    1
d    0
dtype: int64

In [27]:
frame = pd.DataFrame(np.arange(8).reshape(2,4),
                    index=['two','one'],
                     columns = ['d','a','b','c']
                    )
print(frame)
print('-'*20)
print(frame.sort_index())
print('-'*20)
print(frame.sort_index(axis=1))

     d  a  b  c
two  0  1  2  3
one  4  5  6  7
--------------------
     d  a  b  c
one  4  5  6  7
two  0  1  2  3
--------------------
     a  b  c  d
two  1  2  3  0
one  5  6  7  4

In [29]:
data = pd.Series([4, 9, np.nan, 3, -1, np.nan])
print(data)
print('-'*20)
print(data.sort_values())

0    4.0
1    9.0
2    NaN
3    3.0
4   -1.0
5    NaN
dtype: float64
--------------------
4   -1.0
3    3.0
0    4.0
1    9.0
2    NaN
5    NaN
dtype: float64

In [30]:
frame = pd.DataFrame({'b' : [4, 7, -3, 2], 'a' : [0, 1, 1, 0]})
print(frame)
print('-'*20)
print(frame.sort_values(by='b')) # b 컬럼으로 정렬
print('-'*20)
print(frame.sort_values(by=['a','b'])) # 여러 개의 컬럼으로 정렬, 리스트의 왼쪽인 'a'를 정렬한 후 'b'를 정렬

   b  a
0  4  0
1  7  1
2 -3  1
3  2  0
--------------------
   b  a
2 -3  1
3  2  0
0  4  0
1  7  1
--------------------
   b  a
3  2  0
0  4  0
2 -3  1
1  7  1