In [1]:
import pandas as pd

In [4]:
series = pd.Series([17000, 20000, 2000, 4000],
               index=["피자", "치킨", "콜라", "맥주"])
print('시리즈 출력 :')
print('-'*15)
print(series)

시리즈 출력 :
---------------
피자    17000
치킨    20000
콜라     2000
맥주     4000
dtype: int64

In [5]:
print('시리즈의 값 : {}'.format(series.values))
print('시리즈의 인덱스 : {}'.format(series.index))

시리즈의 값 : [17000 20000  2000  4000]
시리즈의 인덱스 : Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

In [9]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)

print('데이터프레임 출력 ')
print('-'*25)
print(df)

데이터프레임 출력
-------------------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [10]:
print('DataFrame의 인덱스 : {}'.format(df.index))
print('DataFrame의 열이름: {}'.format(df.columns))
print('DataFrame의 값 :')
print('-'*25)
print(df.values)

DataFrame의 인덱스 : Index(['one', 'two', 'three'], dtype='object')
DataFrame의 열이름: Index(['A', 'B', 'C'], dtype='object')
DataFrame의 값 :
-------------------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [27]:
data = [['2021/1', 18.25],['2021/2', 8.94],['2021/3', 8.40],['2021/4', 3.16],['2021/5', '1.97'],['2021/6', 3.30]
, ['2021/7', 5.43], ['2021/8', 4.17], ['2021/9', 3.77], ['2021/10', 2.37], ['2021/11', 3.47], ['2021/12', 1.95],]

df= pd.DataFrame(data)
print(df)

          0      1
0    2021/1  18.25
1    2021/2   8.94
2    2021/3    8.4
3    2021/4   3.16
4    2021/5   1.97
5    2021/6    3.3
6    2021/7   5.43
7    2021/8   4.17
8    2021/9   3.77
9   2021/10   2.37
10  2021/11   3.47
11  2021/12   1.95

In [28]:
df = pd.DataFrame(data, columns=['년/월', '매출(억)'])
print(df)

        년/월  매출(억)
0    2021/1  18.25
1    2021/2   8.94
2    2021/3    8.4
3    2021/4   3.16
4    2021/5   1.97
5    2021/6    3.3
6    2021/7   5.43
7    2021/8   4.17
8    2021/9   3.77
9   2021/10   2.37
10  2021/11   3.47
11  2021/12   1.95

In [30]:
data = { '년/월' : ['2021/1','2021/2','2021/3','2021/4','2021/5','2021/6','2021/7','2021/8','2021/9',
                      '2021/10','2021/11','2021/12'],
    '매출(億)' : ['18.25','8.94','8.40','3.16','1.97','3.30','5.43','4.17','3.77','2.37','3.47','1.95'] ,
}

df= pd.DataFrame(data)
print(df)

        년/월  매출(億)
0    2021/1  18.25
1    2021/2   8.94
2    2021/3   8.40
3    2021/4   3.16
4    2021/5   1.97
5    2021/6   3.30
6    2021/7   5.43
7    2021/8   4.17
8    2021/9   3.77
9   2021/10   2.37
10  2021/11   3.47
11  2021/12   1.95

In [32]:
print(df.head(4))

      년/월  매출(億)
0  2021/1  18.25
1  2021/2   8.94
2  2021/3   8.40
3  2021/4   3.16

In [33]:
print(df.tail(4))

        년/월 매출(億)
8    2021/9  3.77
9   2021/10  2.37
10  2021/11  3.47
11  2021/12  1.95

In [34]:
print(df['매출(億)'])

0     18.25
1      8.94
2      8.40
3      3.16
4      1.97
5      3.30
6      5.43
7      4.17
8      3.77
9      2.37
10     3.47
11     1.95
Name: 매출(億), dtype: object

    매출(억)
0   18.25
1    8.94
2    8.40
3    3.16
4    1.97
5    3.30
6    5.43
7    4.17
8    3.77
9    2.37
10   3.47
11   1.95